
* {
  box-sizing: border-box;
}

.full-height {
  height:100%;
}

.full-width {
  width:100%;
}
.sidebar {
  background-color: white;
}
.grid {

  display: grid;
  grid-template-columns: 75% 10px auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header"
    "main . sidebar"
    "footer footer footer";

}